%h1= "Edit Article"

= simple_form_for @article do |f|
    = f.collection_select :category_id, Category.all, :id, :name, {prompt: "Choose a category"}
    = f.input :title
    = f.input :content
    = submit_tag 'Update Article' 

= link_to "Back", root_path